#Use at your own risk, this may totally destroy your project, but it worked for us
 
#NOTE: this will cause your collaborators to re-import assets periodically
Temp/*
Library/*
Build/*
Assets/Tuscany
Assets/Tuscany.meta
Assets/OVR
Assets/OVR.meta
Assets/Plugins
Assets/Plugins.meta
Assets/Zigfu
Assets/Zigfu.meta

#ignoring these specific files
*.pidb
*.userprefs
*.sln
*.csproj
*.unityproj