#gitignore file originally used in https://gist.github.com/Pfhreak/2947096
#un-ignore some specific files
#Use at your own risk, this may totally destroy your project, but it worked for us
 
#NOTE: this will cause your collaborators to re-import assets periodically
Temp/*
KinectToUnity/Library/*
Build/*
__MACOSX/*
KinectToUnity/Assets/Zigfu
#Un-ignore these specific files
!KinectToUnity/Library/*.asset
!KinectToUnity/Library/AssetImportState
!KinectToUnity/Library/AssetVersioning.db
!KinectToUnity/Library/BuildPlayer.prefs
!KinectToUnity/Library/ScriptMapper
!KinectToUnity/Library/assetservercachev3
!KinectToUnity/Library/expandedItems
!KinectToUnity/Library/guidmapper
!KinectToUnity/Library/unity default resources
!KinectToUnity/Library/unity editor resources
#!KinectToUnity/Library/metadata/
 
#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs